
.container {
  max-width: 700px;
  margin: 0 auto;

  button {
    margin-top: 1rem;
    background-color: transparent;
    border: none;
    color: var(--pink-500);
    padding: 0.5rem 0;
    transition: 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }
}

.posts {

  margin-bottom: 3rem;


  h2 {
    font-weight: 700;
    color: var(--gray-100);
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }

  p {
    color: var(--gray-500);
    font-size: 1.125rem;
    margin-bottom: 1rem;
    line-height: 1.75rem;
  }

  div {
    display: flex;
    max-width: 500px;
    align-items: center;
    align-content: center;
    color: var(--gray-800);

    span {
      margin-left: 1.5rem;
    }

    time, span {
      display: flex;
      align-items: center;

      img {
        margin: 7px;
      }
    }
  }

}
